@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova-Bold-webfont.eot);
  src: url(../fonts/ProximaNova-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/ProximaNova-Bold-webfont.woff) format('woff'), url(../fonts/ProximaNova-Bold-webfont.ttf) format('truetype'), url(../fonts/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold) format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova-Sbold-webfont.eot);
  src: url(../fonts/ProximaNova-Sbold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/ProximaNova-Sbold-webfont.woff) format('woff'), url(../fonts/ProximaNova-Sbold-webfont.ttf) format('truetype'), url(../fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold) format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova-Reg-webfont.eot);
  src: url(../fonts/ProximaNova-Reg-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/ProximaNova-Reg-webfont.woff) format('woff'), url(../fonts/ProximaNova-Reg-webfont.ttf) format('truetype'), url(../fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular) format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova-Light-webfont.eot);
  src: url(../fonts/ProximaNova-Light-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/ProximaNova-Light-webfont.woff) format('woff'), url(../fonts/ProximaNova-Light-webfont.ttf) format('truetype'), url(../fonts/ProximaNova-Light-webfont.svg#proxima_nova_ltlight) format('svg');
  font-weight: 100;
  font-style: normal;
}
