/*Colors Defined by Design Team*/
$tanner-grey-50  						= #f7f9fa;
$tanner-grey-100 						= #e8eaeb;
$tanner-grey-200 						= #dadcdd;
$tanner-grey-300 						= #c8ccce;
$tanner-grey-400 						= #a0a5a8;
$tanner-grey-500 						= #868c8f; // Also the base color
$tanner-grey-600 						= #707679;
$tanner-grey-700 						= #52595c;
$tanner-grey-800 						= #363d40;
$tanner-grey-900 						= #1A1E20;

/*Font declarations for our style guide*/
$proxima-nova 							= "ProximaNova","Helvetica Neue",Helvetica,arial,sans-serif
$font-stack 							= $proxima-nova;//base font family
$font-size 								= 16px;//base font size
$font-color 							= #333;//base font color
$line-height	 						= 1.428571429;//base line height
$line-height-computed					= floor(($font-size * $line-height)); // ~20px
$half-line-height-computed				= $line-height-computed / 2;

/*Default and hover Link colors*/
$link-color 							= #0f84dc;
$link-hover-color 						= #0f84dc;


$font-size-large						= ceil(($font-size * 1.25)); // ~18px
$font-size-small						= ceil(($font-size * 0.85)); // ~12px
$font-size-h1							= floor(($font-size * 2.6)); // ~36px
$font-size-h2							= floor(($font-size * 1.75)); // ~28px
$font-size-h3							= ceil(($font-size * 1.5)); // ~24px
$font-size-h4							= ceil(($font-size * 1)); // ~16px
$font-size-h5							= ceil(($font-size * 0.875));// ~14px
$font-size-h6							= ceil(($font-size * 0.875));// ~14px

$default-headings-color					= $tanner-grey-900;

/*Border color for our hr element*/
$hr-border								= $tanner-grey-600;